


:root {
    --body: #14142B;
    --white: #ffffff;
    --whitesub: #F5F6F7;
    --bgsection: #24263A;
    --cmnbg: #31334E;
    --base: #65FF4B;
    --base2: #FFFB1F;
    --title: #121519;
    --subtitle: #222E48;
    --hover: #222E48;
    --ratting: #FFBE57;
    --pra: #576071;
    --pricieborder: #343E56;
    --base2border: rgba(255, 251, 31, 0.20);
    --teamborder: #404A60;
    --placeholder: #B2B6BF;
    --border: #DFE0E4;
    --danger: #ED5050;
    --success: #3FCA90;
    --success2: #2E7D32;
}