:root {
  --body: #14142b;
  --white: #ffffff;
  --whitesub: #f5f6f7;
  --bgsection: #000000;
  --cmnbg: #31334e;
  --base: #ffcdb9;
  --base2: #f37372;
  --title: #121519;
  --subtitle: #222e48;
  --hover: #222e48;
  --ratting: #FB0200;
  --pra: #576071;
  --pricieborder: #343e56;
  --base2border: rgba(255, 251, 31, 0.2);
  --teamborder: #404a60;
  --placeholder: #b2b6bf;
  --border: #dfe0e4;
  --danger: #ed5050;
  --success: #3fca90;
  --success2: #2e7d32;
}
